[mysql]
port	= 3306
socket	= /data1/mysql/demo/mysql.sock

[mysqld]
basedir							= /data1/mysql/mysqld/mysql-5.7.30
plugin-dir						= /data1/mysql/mysqld/mysql-5.7.30/lib/plugin
port 							= 3306
user 							= mysql
bind-address					= 0.0.0.0
datadir							= /data1/mysql/demo/var
innodb_data_home_dir			= /data1/mysql/demo/var
innodb_log_group_home_dir		= /data1/mysql/demo/var
tmpdir 							= /data1/mysql/demo/var
log-error						= /data1/mysql/demo/err.log
pid-file						= /data1/mysql/demo/mysql.pid
socket							= /data1/mysql/demo/mysql.sock

slow_query_log 					= 1
slow_query_log_file 			= slow.log
long_query_time 				= 0.1

character-set-server 			= utf8
collation-server 				= utf8_bin
transaction_isolation 			= REPEATABLE-READ


log-bin							= /data1/mysql/demo/binlog/mysql-bin
relay-log 						= /data1/mysql/demo/binlog/mysql-relay
log-slave-updates 				= true
binlog-rows-query-log-events    = 1
server-id						= 1
gtid_mode						= ON
enforce-gtid-consistency		= true
master-info-repository			= TABLE
relay-log-info-repository		= TABLE
sync_binlog						= 1


innodb_buffer_pool_size 		= 512M
innodb_buffer_pool_instances 	= 4
innodb_file_per_table 			= ON
innodb_flush_log_at_trx_commit 	= 1
innodb_flush_method				= O_DIRECT
innodb_buffer_pool_size 		= 128M
innodb_read_io_threads 			= 2
innodb_write_io_threads 		= 2
innodb_log_file_size 			= 512M
innodb_log_buffer_size 			= 32M


[mysqld_safe]
log-error		= /data1/mysql/demo/mysql.log
pid-file		= /data1/mysql/demo/mysql.pid
